USE [master]
GO
/****** Object:  Database [Project_PRN232]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE DATABASE [Project_PRN232]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_PRN232', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Project_PRN232.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_PRN232_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Project_PRN232_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_PRN232].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_PRN232]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[id] [nvarchar](450) NOT NULL,
	[author_name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__authors__3213E83F45E5F6A6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_copies]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_copies](
	[id] [nvarchar](450) NOT NULL,
	[book_id] [nvarchar](450) NOT NULL,
	[copy_code] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__book_cop__3213E83F25D02A04] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_favorites]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_favorites](
	[id] [nvarchar](450) NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
	[book_id] [nvarchar](450) NOT NULL,
	[added_at] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__book_fav__3213E83F055FA27C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_reservations]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_reservations](
	[id] [nvarchar](450) NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
	[copy_id] [nvarchar](450) NOT NULL,
	[reservation_date] [date] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__book_res__3213E83FE1B198C7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_reviews]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_reviews](
	[id] [nvarchar](450) NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
	[book_id] [nvarchar](450) NOT NULL,
	[rating] [int] NOT NULL,
	[review_text] [nvarchar](max) NULL,
	[review_date] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__book_rev__3213E83F10A2D67B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [nvarchar](450) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[category_id] [nvarchar](450) NULL,
	[author_id] [nvarchar](450) NULL,
	[publisher_id] [nvarchar](450) NULL,
	[publication_year] [smallint] NULL,
	[description] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[image_url] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__books__3213E83F961658F9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrow_records]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrow_records](
	[id] [nvarchar](450) NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
	[copy_id] [nvarchar](450) NOT NULL,
	[borrow_date] [datetime2](7) NOT NULL,
	[due_date] [datetime2](7) NOT NULL,
	[return_date] [datetime2](7) NULL,
	[status] [nvarchar](20) NOT NULL,
	[fine] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[ExtensionDateCount] [int] NOT NULL,
 CONSTRAINT [PK__borrow_r__3213E83F6ECCAA08] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [nvarchar](450) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__categori__3213E83FBB1165BA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[id] [nvarchar](450) NOT NULL,
	[event_name] [nvarchar](255) NOT NULL,
	[event_date] [date] NOT NULL,
	[description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__events__3213E83F433374A8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publishers]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publishers](
	[id] [nvarchar](450) NOT NULL,
	[publisher_name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](max) NULL,
	[phone_number] [nvarchar](15) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__publishe__3213E83F7237A8CE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevokedTokens]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevokedTokens](
	[Id] [nvarchar](450) NOT NULL,
	[Token] [nvarchar](450) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_RevokedTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [nvarchar](450) NOT NULL,
	[role_name] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__roles__3213E83F9E4EC569] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/2/2025 10:58:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [nvarchar](450) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](15) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [int] NOT NULL,
	[address] [nvarchar](max) NULL,
	[role_id] [nvarchar](450) NULL,
	[image_url] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[StudentCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__users__3213E83F4305DF6D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250523092559_InitialCreate', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250612153158_RemoveBookShelf', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250623162840_AddRevokedTokensTable', N'9.0.5')
GO
INSERT [dbo].[authors] ([id], [author_name], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'8a3f5e05-df26-4410-b4cb-7a4a3418c89f', N'JK Rowling', CAST(N'2025-06-23T16:18:52.2837476' AS DateTime2), CAST(N'2025-06-23T16:18:52.2837500' AS DateTime2), NULL)
INSERT [dbo].[authors] ([id], [author_name], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'a8edbfad-a6c1-4619-8e6e-ef7c85d8ba9c', N'Gosho Aoyama', CAST(N'2025-06-23T16:19:23.2151091' AS DateTime2), CAST(N'2025-06-23T16:19:23.2151116' AS DateTime2), NULL)
GO
INSERT [dbo].[roles] ([id], [role_name], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'2B41A33D-A688-43ED-AC93-07913C185E5D', 0, CAST(N'2025-06-23T21:10:06.1900000' AS DateTime2), CAST(N'2025-06-23T21:10:06.1900000' AS DateTime2), NULL)
INSERT [dbo].[roles] ([id], [role_name], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'77A57779-9FC1-4BC4-94E5-9257DEB63E87', 1, CAST(N'2025-06-23T21:10:06.1900000' AS DateTime2), CAST(N'2025-06-23T21:10:06.1900000' AS DateTime2), NULL)
INSERT [dbo].[roles] ([id], [role_name], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'79FC15D5-846E-48DE-B6E1-4E3A7BF0CA6E', 2, CAST(N'2025-06-23T21:10:06.1900000' AS DateTime2), CAST(N'2025-06-23T21:10:06.1900000' AS DateTime2), NULL)
GO
INSERT [dbo].[users] ([id], [username], [password_hash], [email], [phone_number], [date_of_birth], [gender], [address], [role_id], [image_url], [CreatedAt], [UpdatedAt], [DeletedAt], [StudentCode]) VALUES (N'A8749504-5478-42FB-9E37-327A54CE1CC7', N'Admin', N'$2a$12$VRgob0VNZ3IB/tgyTdnP6e9VDfDuHdXNHkoijAsvpvKvuqXWTrdUS', N'admin@gmail.com', N'0901234567', CAST(N'1990-01-15' AS Date), 0, N'123 Đường Điện Biên Phủ, Quận 1, TP.HCM', N'2B41A33D-A688-43ED-AC93-07913C185E5D', NULL, CAST(N'2025-06-23T21:18:25.2766667' AS DateTime2), CAST(N'2025-06-23T21:18:25.2766667' AS DateTime2), NULL, N'DE170484')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_book_copies_book_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_book_copies_book_id] ON [dbo].[book_copies]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__book_cop__5196394F6914230C]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__book_cop__5196394F6914230C] ON [dbo].[book_copies]
(
	[copy_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_book_favorites_book_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_book_favorites_book_id] ON [dbo].[book_favorites]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_book_favorites_user_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_book_favorites_user_id] ON [dbo].[book_favorites]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_book_reservations_copy_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_book_reservations_copy_id] ON [dbo].[book_reservations]
(
	[copy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_book_reservations_user_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_book_reservations_user_id] ON [dbo].[book_reservations]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_book_reviews_book_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_book_reviews_book_id] ON [dbo].[book_reviews]
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_book_reviews_user_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_book_reviews_user_id] ON [dbo].[book_reviews]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_books_author_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_books_author_id] ON [dbo].[books]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_books_category_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_books_category_id] ON [dbo].[books]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_books_publisher_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_books_publisher_id] ON [dbo].[books]
(
	[publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_borrow_records_copy_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_borrow_records_copy_id] ON [dbo].[borrow_records]
(
	[copy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_borrow_records_user_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_borrow_records_user_id] ON [dbo].[borrow_records]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RevokedTokens_Token]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RevokedTokens_Token] ON [dbo].[RevokedTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_role_id]    Script Date: 7/2/2025 10:58:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_users_role_id] ON [dbo].[users]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book_favorites] ADD  DEFAULT (sysdatetime()) FOR [added_at]
GO
ALTER TABLE [dbo].[book_reviews] ADD  DEFAULT (sysdatetime()) FOR [review_date]
GO
ALTER TABLE [dbo].[borrow_records] ADD  DEFAULT ((0)) FOR [ExtensionDateCount]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'') FOR [email]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'') FOR [phone_number]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [gender]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'') FOR [StudentCode]
GO
ALTER TABLE [dbo].[book_copies]  WITH CHECK ADD  CONSTRAINT [FK_book_copies_books] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[book_copies] CHECK CONSTRAINT [FK_book_copies_books]
GO
ALTER TABLE [dbo].[book_favorites]  WITH CHECK ADD  CONSTRAINT [FK_book_favorites_books] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[book_favorites] CHECK CONSTRAINT [FK_book_favorites_books]
GO
ALTER TABLE [dbo].[book_favorites]  WITH CHECK ADD  CONSTRAINT [FK_book_favorites_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[book_favorites] CHECK CONSTRAINT [FK_book_favorites_users]
GO
ALTER TABLE [dbo].[book_reservations]  WITH CHECK ADD  CONSTRAINT [FK_book_reservations_book_copies] FOREIGN KEY([copy_id])
REFERENCES [dbo].[book_copies] ([id])
GO
ALTER TABLE [dbo].[book_reservations] CHECK CONSTRAINT [FK_book_reservations_book_copies]
GO
ALTER TABLE [dbo].[book_reservations]  WITH CHECK ADD  CONSTRAINT [FK_book_reservations_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[book_reservations] CHECK CONSTRAINT [FK_book_reservations_users]
GO
ALTER TABLE [dbo].[book_reviews]  WITH CHECK ADD  CONSTRAINT [FK_book_reviews_books] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[book_reviews] CHECK CONSTRAINT [FK_book_reviews_books]
GO
ALTER TABLE [dbo].[book_reviews]  WITH CHECK ADD  CONSTRAINT [FK_book_reviews_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[book_reviews] CHECK CONSTRAINT [FK_book_reviews_users]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_authors] FOREIGN KEY([author_id])
REFERENCES [dbo].[authors] ([id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_authors]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_categories]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_publishers] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publishers] ([id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_publishers]
GO
ALTER TABLE [dbo].[borrow_records]  WITH CHECK ADD  CONSTRAINT [FK_borrow_records_book_copies] FOREIGN KEY([copy_id])
REFERENCES [dbo].[book_copies] ([id])
GO
ALTER TABLE [dbo].[borrow_records] CHECK CONSTRAINT [FK_borrow_records_book_copies]
GO
ALTER TABLE [dbo].[borrow_records]  WITH CHECK ADD  CONSTRAINT [FK_borrow_records_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[borrow_records] CHECK CONSTRAINT [FK_borrow_records_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
USE [master]
GO
